
.inicioContenedor {

    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
}

.fondoParallax {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    will-change: transform;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.parallax img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    will-change: transform;
}


.supSection {
    height: 100svh;
}

#planeta {
    left: 0;
    will-change: transform;
}

#superficie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    will-change: transform;
    transition: transform 0.5s ease-out;
    object-fit: cover;
    will-change: transform;
  }
  